{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="container">
                <h1 class="text-center mb-5">Articles</h1>
                <div class="row">
                    {% for article in articles %}
                    <div class="col-lg-6">
                        <h2 class="col-lg-12 text-center">
                            {{ article.title }}
                        </h2>
                        <small class="col-lg-12 text-center mb-5 font-weight-light font-italic">
                            {{ article.Category.name }}
                        </small>
                        <div class="col-lg-12 mb-3 text-justify">
                            {{ article.content }}
                        </div>
                        <div class="col-lg-12">
                            <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-outline-dark" role="button">Voir <i class="fas fa-eye"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {# Pagination #}

    <nav class="d-flex justify-content-center mt-5">                                     {# pagination centrée #}
        <ul class="pagination">
            <li class="page-item {% if actual_page == 1 %}disabled{% endif %}">     {# précédent disabled si on est déjà sur la première page #}
              <a class="page-link" href="{{ path('article_index', {'page': actual_page - 1}) }}" aria-label="Précédent">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Précédent</span>
              </a>
            </li>
            {% for i in 1..nb_pages %}
                <li class="page-item {% if actual_page == i %}active{% endif %}"><a class="page-link" href="{{ path('article_index', {'page': i}) }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item {% if actual_page == nb_pages %}disabled{% endif %}">
              <a class="page-link" href="{{ path('article_index', {'page': actual_page + 1}) }}" aria-label="Suivant">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Suivant</span>
              </a>
            </li>
        </ul>
    </nav>

{% endblock %}
